<header class="fixed top-0 left-0 w-full flex justify-between items-center px-10 py-4 shadow-md bg-white">
    <h1 class="text-3xl font-extrabold text-purple-600">PollHub</h1>
    <button (click)="logout()" class="text-gray-800 text-lg font-bold hover:text-purple-600">
        Logout
    </button>
</header>
<div class="flex bg-purple-50 min-h-screen px-10 py-6 gap-6 pt-20">
    <div class="w-1/3 bg-white my-3 shadow-lg p-4 rounded-lg">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold text-gray-800">Open Polls</h2>
            <button class="bg-purple-600 text-white px-4 py-2 rounded-md hover:bg-purple-700" (click)="createPoll()">
                Create Poll +
            </button>
        </div>
        <ul>
            <li *ngFor="let poll of openPolls" class="p-3 mt-3 border rounded-md cursor-pointer hover:bg-gray-100"
                (click)="selectPoll(poll)">
                {{ poll.question }}
            </li>
        </ul>
    </div>
    <div class="w-2/3 bg-white my-3 shadow-lg rounded-lg flex items-center justify-center" *ngIf="!selectedPoll">
        <div class="text-center">
            <h2 class="text-3xl font-extrabold text-black mb-4">Welcome to PollHub!</h2>
            <p class="text-gray-700 text-lg mb-4">
                The ultimate platform for interactive polling and real-time discussions.
            </p>
            <div class="mt-6">
                <img src="../../../assets/survey-3286948_1280.jpg" alt="No poll selected"
                    class="mx-auto w-48 h-48 mt-4">
                <p class="text-gray-400 mt-4 text-lg">Click on an open poll from the left or create your own poll now!
                </p>
            </div>
        </div>
    </div>
    <div class="w-2/3 bg-white shadow-lg my-3 p-6 rounded-lg" *ngIf="selectedPoll">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">{{ selectedPoll.question }}</h2>
        <div>
            <label *ngFor="let option of selectedPoll.options" class="block mb-2">
                <input type="radio" name="pollOption" [value]="option" [(ngModel)]="selectedOption" />
                {{ option }}
            </label>
        </div>
        <button class="bg-purple-600 text-white px-4 py-2 mt-4 rounded-md hover:bg-purple-700" (click)="vote()">
            Vote
        </button>
    </div>
</div>
<button
    class="fixed bottom-6 right-6 bg-purple-600 text-white w-16 h-16 rounded-full shadow-lg flex items-center justify-center hover:bg-purple-700"
    (click)="openChat()">
    <img src="../../../assets/chat image.jpg" alt="Chat" class="w-8 h-8">
</button>
<div *ngIf="showChat" class="fixed inset-0 flex items-center justify-center bg-black/20 backdrop-blur-md z-60">
    <app-chat [isOpenChat]="showChat" (chatEvent)="chatEventRecieved($event)"></app-chat>
</div>
<div *ngIf="openCreatePoll" class="fixed inset-0 flex items-center justify-center bg-black/20 backdrop-blur-md">
    <app-create-poll [isPollOpen]="openCreatePoll" (pollEvent)="pollEventRecieved($event)"></app-create-poll>
</div>